
.page.theme_dark {
  --text-color: var(--color-pink);
  --decor-title-color: var(--color-violet);
  --addition-color: var(--color-fuchsia);
  --accent-color: var(--color-fuchsia);
  --content-title-color: var(--color-dark-blue);
  --background-color: var(--color-dark-blue);
  --button-hover: var(--color-fuchsia-opacity);
  --backgound-img: url(../images/cover-image-dark.png);
  --decor-visibikity: visible;
}