.page.theme_light {
  --text-color: var(--color-black);
  --decor-title-color: var(--color-pink-3);
  --addition-color: var(--color-black);
  --accent-color: var(--color-pink-2);
  --content-title-color: var(--color-black);
  --background-color: var(--colo-pink-4);
  --button-hover: var(--color-black-opacity);
  --backgound-img: url(../images/cover-image-light.png);
  --decor-visibikity: hidden;
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color: var(--color-black);
    --decor-title-color: var(--color-pink-3);
    --addition-color: var(--color-black);
    --accent-color: var(--color-pink-2);
    --content-title-color: var(--color-black);
    --background-color: var(--colo-pink-4);
    --button-hover: var(--color-black-opacity);
    --backgound-img: url(../images/cover-image-light.png);
    --decor-visibikity: hidden;
    }
}

